<p id="notice"><%= notice %></p>


<div class='des'>
    <%= image_tag('logo.jpg', :class => 'image') %>
    <h2>The Face Behind The Chair</h2>
    <p>
      You know those amazing women who you just look at and you wonder how they have their whole life together? 
      They own their own business, or two, eat so healthy that it kind of looks like cow food, constantly work out to have
      a Wonder Woman body, have three kids, a husband and still have a social life. Well, that's not me hahaha. I look at 
      these women in awe of how they look so good, have a social life, kids(who have activities of course, and still have time
      to travel. All the while I am over here eating steamed fresh veggies that you find in the frezzer section and doing 
      30-second plank all in hopes that it will off-set the spoon of Nutella I had at lunch. It's a glamorous life really.
    </p>
    <p>
      This is the entire reason I went into studying hair for weddings and special events. I wanted to make every single women
      feel like the amazing Wonder Women while having a Beyoncce fan blowing their hair as they walk. Every women should get to
      have a chance at least once in their life to look and feel flawless. Everyone asks how I learned to do what I do and why
      I wanted to go into hair and makeup. My answer is always that God has blessed me with a talent that I can't take credit
      for and I want to share with the world. It breaks my heart when women say that they aren't pretty or to fix their face 
      to be prettier. My goal is to help women be confident in their uniqueness and beauty with the features that God made 
      them with and that they don't need to change who they are.
    </p>
    <p>
      I am originally from Auburn, Alabama (War Eagle) and have lived in the south for the majority of my life. I started
      studying hair at a Jr. College there when I was introduced to my (now) husband, who comically I met through a friend
      that I met while I was in England and he lived in Virginia. I decided to take the opportunity to further my hair
      career and to be near him so I moved to NOVA and finish my schooling at a salon in Fairfax. I have been here for 5.5
      years now and married for 4.5. I have met some incredible women that have crossed my path and I can't wait to meet so
      many more. Now that I am done babbling about myself I want to hear all about you and your big day!
    </p>
</div>
<br>