
<div class='des'>
   <%= image_tag('Oatlands_SS_Finals_179.jpg', :size => '400x400') %>
   <h1>Contact Us</h1>
   <p>
      We love hearing from our lovely ladies and we want to hear from you! Contact us
      to find out more about out packages and pricing.
   </p>
   <p>
      We can't wait to hear about your magical day and to make you feel absolutely beautiful!
  </p>
</div>
<h3>Contact Us</h3>
<%= render 'form', consult: @consult %>
<br>
